#redirect-link {
  color: white;
  text-decoration: none;
  min-width: 100vw;
  text-align: center;
  margin-top: 10vh;
}
#sidebar {
  grid-column: 1;
  grid-row: 1 / 16;
  background-color: #1C1C1C;
  border-right: 3px #000 solid;
}
#dashboard {
  grid-column: 2 / 5;
  grid-row: 1 / 16;
}
#sidebar-footer {
  grid-column: 1;
  grid-row: 16;
  border-right: 3px #000 solid;
  border-top: 3px #000 solid;
}
#dashboard-footer {
  grid-column: 2 / 5;
  grid-row: 16;
  border-top: 3px #000 solid;
}