<template>
  <div v-if="!authorized" class="flex-center">
    <router-link to="/auth" id="redirect-link">
      Click here to log in (x_x)
    </router-link>
  </div>

  <div v-if="authorized" id="page-wrapper">
      <div id="sidebar">
        <SidebarList />
      </div>
      <div id="dashboard">
        <Dashboard />
      </div>
      <div id="sidebar-footer">
        <SidebarFooter />
      </div>
      <div id="dashboard-footer">
        <Footer />
      </div>
  </div>
</template>

<script>
import TodoList from "./TodoList.js";
export default TodoList;
</script>

<style scoped src="./TodoList.css"></style>
