<template>
  <n-config-provider :theme="darkTheme">
    <n-grid :cols="5">
      <n-gi />
      <n-gi />
      <n-gi>
        <div class="vertical-container">
          <n-grid :cols="1">
            <n-gi />
            <n-gi>
              <n-card content-style="padding: 0;">
                <n-tabs
                  type="line"
                  justify-content="space-evenly"
                  size="large"
                  :tabs-padding="20"
                  pane-style="padding: 20px;"
                >
                  <n-tab-pane name="LOG IN">
                    <div style="padding-right: 40px">
                      <n-alert
                        v-if="err"
                        style="margin-bottom: 20px"
                        :title="err.description"
                        type="error"
                      />
                      <n-space align="center" vertical>
                        <n-input
                          type="text"
                          size="large"
                          data-testid="log-in-username"
                          v-model:value="username"
                          placeholder="Username"
                        />
                        <n-input
                          type="password"
                          size="large"
                          data-testid="log-in-password"
                          v-model:value="password"
                          placeholder="Password"
                        />
                        <n-button
                          size="large"
                          :loading="awaitingResponse"
                          align-items="center"
                          @click="login"
                          >Log in</n-button
                        >
                      </n-space>
                    </div>
                  </n-tab-pane>
                  <n-tab-pane name="SIGN UP">
                    「少々」お待ちくださいっ！
                  </n-tab-pane>
                </n-tabs>
              </n-card>
            </n-gi>
            <n-gi />
          </n-grid>
        </div>
      </n-gi>
      <n-gi />
      <n-gi />
    </n-grid>
  </n-config-provider>
</template>

<script>
import Auth from "./Auth.js";
export default Auth;
</script>

<style scoped src="./Auth.css"></style>
