<template>
  <div class="inner-wrapper">
    <div v-if="(!groups.length)" class="flex-center">
      <n-input
        type="text"
        size="large"
        style="max-width: 80%" 
        v-model:value="group"
        placeholder="Group name"
      />
      <div @click="createGroup" style="display: inline">
        <IconConfigProvider size="48">
          <Icon>
            <PlusFilled />
          </Icon>
        </IconConfigProvider>
      </div>
    </div>

    <ul class="styled-list">
      <li v-for="group of groups" :key="group.id">
        <div class="flex-space-between">
          <div class="flex-start">
            <div 
              class="in-block" 
              @click="() => {
                isToggled[group.id] = !isToggled[group.id];
                this.groups.map((el) => this.isMenu[el.id] = false)
              }" 
            >
              <IconConfigProvider size="48" >
                <Icon>
                  <KeyboardArrowUpFilled v-bind:class="{ 'down': isToggled[group.id] }" />
                </Icon>
              </IconConfigProvider>
            </div>
            <h2 class="m-0 p-0 in-block">{{group.name}}</h2> 
          </div>

          <div class="text-align-right absolute" @click="isMenu[group.id] = !isMenu[group.id]">
            <div class="mt-10">
              <IconConfigProvider size="48" >
                <Icon>
                  <MoreHorizontal16Filled />
                </Icon>
              </IconConfigProvider>
            </div>
            <div class="menu" v-if="isMenu[group.id]">
              <button @click="addGroup = !addGroup">add group</button>
              <button>delete group</button>
              <button>add list</button>
            </div> 
          </div>
        </div>
          <ul class="styled-list" v-if="isToggled[group.id]">
            <li v-for="list of lists" :key="list.id">
              <h3 class="m-0 styled-list-element in-block" v-if="list.group == group.id" >
                {{list.name}}
              </h3>
            </li>
          </ul>
      </li>
      <div v-if="addGroup" class="flex-center space-between">
        <n-input
          type="text"
          size="large"
          style="max-width: 80%" 
          v-model:value="group"
          placeholder="Group name"
        />
        <div @click="createGroup" style="display: inline">
          <IconConfigProvider size="48">
            <Icon>
              <PlusFilled />
            </Icon>
          </IconConfigProvider>
        </div>
      </div>
    </ul>
  </div>
</template>

<script>
import SidebarList from "./SidebarList.js";
export default SidebarList;
</script>

<style scoped src="./SidebarList.css"></style>
