.white {
    color: white;
}
.absolute {
    position: relative;
}
.flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.space-between {
    justify-content: space-between;
}
.styled-list {
    list-style-type: none;
    padding-left: 0;
}
button {
    background: transparent;
    width: 100%;
    font-size: 22px;
    border: 0;
}
.flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.text-align-right {
    text-align: right;
}
.menu {
    background-color: white;
    border-radius: 6px;
    padding: 0.5em 0;

    min-width: 10em;

    position: absolute;
    z-index: 1;

    color: black;
    text-align: left;
}
.styled-list-element {
    padding-left: 50px;
    margin-top: 0.5vh;
    font-weight: normal;
}
.down {
    transform: rotate(180deg);
}
.mt-10 {
    margin-top: 10px;
}