<template>
    <div class="inner-wrapper">
        <div id="title">
            <h1>List name</h1>
        </div>
    </div>
</template>

<script>
  export default {
    name: "Dashboard"
  };
</script>

<style scoped>
    h1 {
        text-align: center;
    }
</style>
