<template>
    <div class="footer-wrapper center">
        <div class="in-block mr-3">
          <IconConfigProvider size="48">
            <Icon>
              <PlusFilled />
            </Icon>
          </IconConfigProvider>
        </div>
        <div class="in-block mr-3">
          <IconConfigProvider size="48">
            <Icon>
              <EditFilled />
            </Icon>
          </IconConfigProvider>
        </div>
        <div class="in-block">
          <IconConfigProvider size="48">
            <Icon>
              <DeleteFilled />
            </Icon>
          </IconConfigProvider>
        </div>
    </div>
</template>

<script>
  import { IconConfigProvider, Icon } from '@vicons/utils'
  import { PlusFilled, EditFilled, DeleteFilled } from '@vicons/material'
  export default {
    name: "Footer",
    components: {
      IconConfigProvider,
      Icon,
      PlusFilled, 
      EditFilled, 
      DeleteFilled
    }
  };
</script>

<style scoped>
  .mr-3 {
    margin-right: 3vw;
  }
  .center {
    text-align: center;
  }
</style>