<template>
    <div id="page-wrapper">
        <div id="sidebar">
          <SidebarList />
        </div>
        <div id="dashboard">
          <Dashboard />
        </div>
        <div id="sidebar-footer">
          <SidebarFooter />
        </div>
        <div id="dashboard-footer">
          <Footer />
        </div>
    </div>
</template>

<script>
  import SidebarList from "./SidebarList/SidebarList.vue";
  import Dashboard from "./Dashboard.vue";
  import SidebarFooter from "./SidebarFooter.vue";
  import Footer from "./Footer.vue";

  export default {
    name: "Page",
    components: {
      SidebarList,
      Dashboard,
      SidebarFooter,
      Footer
    }
  };
</script>

<style scoped>
#sidebar {
  grid-column: 1;
  grid-row: 1 / 16;
  background-color: #1C1C1C;
  border-right: 3px #000 solid;
}
#dashboard {
  grid-column: 2 / 5;
  grid-row: 1 / 16;
}
#sidebar-footer {
  grid-column: 1;
  grid-row: 16;
  border-right: 3px #000 solid;
  border-top: 3px #000 solid;
}
#dashboard-footer {
  grid-column: 2 / 5;
  grid-row: 16;
  border-top: 3px #000 solid;
}
</style>
