<template>
    <div class="footer-wrapper">
        <div>
          <img src="../assets/avatar.png" alt="avatar" id="avatar">
        </div>
    </div>
</template>

<script>
  export default {
    name: "SidebarFooter"
  };
</script>

<style scoped>
    #avatar {
        border-radius: 50%;
        width: 2em;
        height: 2em;
    }
</style>