html, body, #app {
    width: 100vw;
    height: 100vh;
    background-color: #262626;
    margin: 0;
    padding: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    color: #ffffff;
}
#page-wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(16, 1fr);
}
.inner-wrapper {
    margin: 3vh 2vw;
}
.footer-wrapper {
    margin: 1vh 0.5vw;
}
.m-0 {
    margin: 0;
}
.p-0 {
    padding: 0;
}
.in-block {
    display: inline-block;
}
.flex-center {
    display: flex;
    justify-content: center;
}
h2 {
    font-size: 2.5em;
}
h1 {
    font-size: 3em;
}